.fc-ml-1 {
  margin-left: 8px;
}
.fc-ml-2 {
  margin-left: 12px;
}
.fc-ml-3 {
  margin-left: 16px;
}
.fc-ml-4 {
  margin-left: 24px;
}

.fc-mr-1 {
  margin-right: 8px;
}
.fc-mr-2 {
  margin-right: 12px;
}
.fc-mr-3 {
  margin-right: 16px;
}
.fc-mr-4 {
  margin-right: 24px;
}

.fc-flex {
  display: flex;
}

.fc-flex-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fc-flex-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fc-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fc-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-page {
  width: 100%;
  height: 100vh;
  background-image: url('@/assets/expectations_bg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--auth-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.va-modal.fc-confirmodal {
  .va-modal__dialog {
    border-radius: 10px;
  }
}
.fc-modal {
  .va-modal__inner {
    padding: 0;
  }
  .va-modal__dialog {
    border-radius: 10px;
  }
}

.app-page {
  padding: 8px 0 24px;
  &__header {
    padding: 16px 24px;
    font-size: 32px;
    font-weight: 600;
    color: var(--main-header-text);
  }
  &__filters {
    margin-top: 12px;
    padding: 0 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .filter-lable {
      font-size: 20px;
      line-height: 24px;
      color: var(--main-header-text);
    }
    .filter {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 16px;
    }
    .filter .bill-filter {
      margin-left: 16px;
    }
    @media screen and (max-width: 700px) {
      display: block;
      .filter {
        width: 100%;
        margin-left: 0;
        margin-top: 8px;
        justify-items: center;
      }
    }
    @media screen and (max-width: 570px) {
      .filter {
        display: block;
      }
      .filter .bill-filter {
        margin-left: 0;
        margin-top: 8px;
      }
    }
  }
  &__list {
    margin-top: 12px;
    padding: 0 24px;
  }
  &__pagination {
    margin-top: 24px;
    padding: 0 24px;
  }
}
