.fc-flex-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fc-flex-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.auth-page {
  width: 100%;
  height: 100vh;
  background-image: url('@/assets/expectations_bg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--auth-background);
  display: flex;
  justify-content: center;
  align-items: center;
}